import(survival)
import(foreach)
import(Rcpp)
import(coda)
useDynLib(icenReg)
export(ic_sp)
export(cs2ic)
#export(impute_ic_ph)
#export(simICPH_beta)
#export(simICPO_beta)
export(simIC_weib)
export(simDC_weib)
export(ic_sample)
export(sampleSurv)
export(survCIs)
S3method(lines, surv_cis)
S3method(names, icenReg_fit)
S3method(summary, icenReg_fit)
S3method(vcov, icenReg_fit)
S3method(plot, icenReg_fit)
S3method(lines, icenReg_fit)
S3method(predict, icenReg_fit)
S3method(lines, sp_curves)
S3method(plot, sp_curves)
S3method(lines, ic_npList)
S3method(plot, ic_npList)
S3method(summary, ic_npList)
export(getFitEsts)
export(getSCurves)
export(diag_covar)
export(diag_baseline)
export(imputeCens)
export(ic_par)
export(ic_np)
export(ic_bayes)
export(makeCtrls_icsp)
export(simCS_weib)
export(bayesControls)
export(plot.icenReg_fit)
export(lines.icenReg_fit)
export(ir_clustBoot)
export(simIC_cluster)


#export(icqqplot)
#export(icenReg_cv)
#export(abs_inv)

importFrom("graphics", "legend", "lines", "par", "plot")
importFrom("methods", "is", "new")
importFrom("stats", ".getXlevels", "contrasts", "cov",
"delete.response", "is.empty.model", "median", "model.frame",
"model.matrix", "model.response", "na.pass", "optimize", "pexp",
"pgamma", "pnorm", "prcomp", "pweibull", "qbeta", "qexp", "qweibull",
"rbinom", "rnorm", "runif", "terms", "sd", 'coef')


## BIVARIATE CENSORED EXPORTS
#importFrom(MLEcens, reduc)
#export(optCliq)
#export(ICNPMLE)
#export(simBVCen)
#export(initICNPMLE)
#exportClasses(IC_NPMLE)
#exportClasses(cliqOptInfo)